*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#container
{   overflow:hidden;
    min-width: 100%;
    min-height: 99.99%;
    max-width: 100%;
}
            /*style for all buttons and their text*/
button
{
    cursor: pointer;
    border-style: none;
    min-height: 99.99%;
    max-height: 100%;
    min-width: 25%;
    width: 25%;
    text-align: center;
    position:absolute;
    background-position:center;
}

h1{
     font-family: 'Rock Salt', cursive;
    color: white;
    font-weight: bolder;
}

                /*STYLES FOR THE SLIDE IN CONTENT */
#content {
    overflow:hidden;
    border-right-color: #F5F5F5;
    border-right-width: 15px;
    border-right-style: solid;
    background-color: black;
    padding-top: .5%;
    color:floralwhite;
    width: 75%;
    min-width:75%;
    min-height: 99.99%;
    max-height: 100%;
    position: absolute;
    z-index: 0;
    left: -50%;
}
#caterMenu
{
    overflow:hidden;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 98vh;
    width: auto;
}

#takeOutMenu
{
    overflow:hidden;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 98vh;
    width: auto;
}


            /*  SPECIFIC STYLES FOR EACH BUTTON */
#deliver{
    z-index: -2;
     margin: 0 auto;
    text-align: center;
    left: 75%;
    position: absolute;
    min-height: 100%;
    height: 99.99%;
   background-color: black;
    padding-top: 25vh;
}

#takeOut{
    color: black;
    z-index: 0;
       background-color: black;
    border-right-width: 15px;
    border-color: white;
    border-right-style: groove;
}

#cater{
    color: black;
    z-index: 0;
     left: 25%;
      background-color: black;
   border-right-width: 15px;
    border-color: white;
    border-right-style: groove;
}

#about{
    color: black;
    z-index: -1;
    left: 50%;
   border-right-width: 15px;
    border-color: white;
    border-right-style: groove;
    background-color: black;
}

        /*Styles for everything inside the "about us" elements*/
#acontent {
    overflow:hidden;
    border-left-color: #F5F5F5;
    border-left-width: 15px;
    border-left-style: solid;
    color           :  floralwhite;
    background-color: black;
    width           : 0%;
    min-width       : 0%;
    min-height      : 99.99%;
    max-height      : 99%;
    position        : absolute;
    z-index         : -3;
    right           : 25%;
}

#aboutP {
    text-align: center;
}

#insta {
    
    margin-right: 2%;
    float:left;
}

#pic {
    display: block;
    margin: 0 auto;
    padding-bottom: 1%;
    border-bottom-width: 1%;
    border-bottom-style: solid;
    border-bottom-color: white;
}
#margin-top
{
    font-family: "Bookman Old Style";
    margin-top: 1.5%;
}
#wrap
{
    margin-top: 2%;
    margin-left: 2%;
}


            
/* Style for logos */
#logo{   
position:absolute;
    display: block;
    height: auto;
    width: 15%;
max-width: 260px;
z-index: 10;
}
.grub, .uber{
    width: 16vw;
    transform:translateY(-16%);
}
a{
    transform: translateY(-24%);
}

            /*Responsive Stuff */
@media only screen and (max-width: 940px) {

    #deliver
    {
        padding-top: 34vh;
    }
    
    #logo{  
        width: 25%;
        max-width: 25vw;
        height: auto;
}

}
@media only screen and (max-width: 790px) {

    #deliver
    {
        padding-top: 34vh;
    }
   #logo{   
       width: 25%;
        max-width: 15vw;
        height: auto;
}
}